#banner
	.banner_content
		%h1 MyNote
		%p Pen your thoughts.. in your digital book!
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Keep a daily diary of your dreams, goals and accomplishments. If your life is worth living, it's worth recording."
		%p.name - Marilyn Grey
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Keep your thoughts organized by jotting down a short, summarized version of it!

			.callout
				%h2 Notes
				%p Never forget another million dollar idea and improve productivity!

			.callout
				%h2 Notes
				%p Create quality reference materials by tracking what you learn and do!
#bottom_cta
	.wrapper
		
		%p We will help you organize and maintain your thoughts.. Click the link below to sign up!
		%button= link_to "Sign Up!", new_user_registration_path

%footer
	%p &copy; Mehavardhini Vijaya Kumar
